	.product{
		font-family: 'Nunito', sans-serif;
		background-color: #fefefe;
	}

	.testimonials{
		font-family: 'Nunito', sans-serif;
		background-color: #fefefe;
	}

	.col-md-4{
		margin: 50px auto;
	}

	.profile{
		padding: 70px 10px 10px;
		/*background-color: #efefef;*/
		box-shadow: 0px 5px 10px rgba(0,0,0,0.16);
		border-radius: 8px;
	}

	.profile img{
		top: -60px;
		position: absolute;
		left: calc(50% - 50%);
		/*border: 10px solid white;*/
	}

	.user{
		width: 120px;
		height: 120px
		border-radius:50%;
	}
	q{
		font-size: 16px;
		line-height: 25px;
	}
	h5{
		text-align: left;
		padding-bottom: 30px;
		padding-top: 30px;
	}
	h3{
		font-family: 'Nunito', sans-serif;color:#333;
		font-weight:600;
		font-size:28px;
		text-align: center;
		padding-bottom: 30px;
	}

	.bg-footer{
		background-image: url(images/bg.png);
		padding: 25px 0px 5px 0px;
		font-family: 'Nunito', sans-serif;
		font-weight: 600;
	}

	.foots ul li{
		list-style: none;
		display: inline-block;
		margin-left: 20px;
	}
	.foots ul li a{
		color: #333;
		font-size: 14px;
		text-transform: capitalize;
	}
	.responsive{
		width: 50%;
		height: auto;
	}
	p{
		position: absolute;
		z-index: 999;
		padding-top: 15%;
		padding-left: 20px;
		font-family: 'Nunito', sans-serif;
		font-size: 4vw;
		color: #ffffff;
	}

	h1{ 
	  color: #396; 
	  font-weight: 100; 
	  font-size: 40px; 
	  margin: 40px 0px 20px; 
	} 

	.price{
		font-weight:700;
		font-size:16px;
		color:#333333;
		font-family: 'Nunito', sans-serif;
		text-decoration: line-through;
		font-style: italic;
		position: relative;
		padding-top: 2%;
		padding-bottom:5%;
		text-align: center;
	}

	.priceDiscBasic{
		font-weight:700;
		font-size:30px;
		color:#6ad6d4;
		font-family: 'Nunito', sans-serif;
		font-style: italic;
		position: relative;
		padding-top: 0%;
		text-align: center;
	}

	.priceDiscIntense{
		font-weight:700;
		font-size:30px;
		color:#53a3fb;
		font-family: 'Nunito', sans-serif;
		font-style: italic;
		position: relative;
		padding-top: 0%;
		text-align: center;
	}

	.priceDiscFluent{
		font-weight:700;
		font-size:30px;
		color:#e12d34;
		font-family: 'Nunito', sans-serif;
		font-style: italic;
		position: relative;
		padding-top: 0%;
		text-align: center;
	}

	.buyTokped{
		text-align: center;
		font-family: 'Nunito', sans-serif;
		font-weight: 600;
		position: relative;
		color: #333;
		font-size: 14px;
		padding-top: 10%;
		padding-bottom: 8%;
		color: #12cc12;
	}

	.buyNow{
		border-radius: 25px;
		font-size: 14px;
		width: 100%;
	}